*/ci_application/config/database.php
*/ci_application/config/config.php
*/ci_application/config/ums_config.php
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/data/*
*/data/!index.html
*/assets/*
*/assets/index.php
*/assets/!.htaccess
